<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

 <typeAliases>
 	<package name="kosta.koggiri.admin_emp.domain"/>
 	<package name="kosta.koggiri.approval.domain"/>
 	<package name="kosta.koggiri.calendar.domain"/>
 	<package name="kosta.koggiri.chart.domain"/>
 	<package name="kosta.koggiri.document.domain"/>
 	<package name="kosta.koggiri.login.domain"/>
 	<package name="kosta.koggiri.noticeboard.domain"/>
 	<package name="kosta.koggiri.task.domain"/>
 	<package name="kosta.koggiri.sns.domain"/>
 	<package name="kosta.koggiri.attendance.domain"/>
 	<package name="kosta.koggiri.home.domain"/>
 	<package name="kosta.koggiri.importantboard.domain"/>

 </typeAliases>
 
</configuration>

