<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosta.koggiri.mapper.ApprovalMapper"><!--경로를 뜻하는 것이 아님!!! -->
	
	<select id="appty_select" resultType="AppTypeVO">
		<![CDATA[ 
		select app_type_cd,
		app_type_nm from App_type
		order by APP_TYPE_CD
		]]>
	</select>

	<select id="dept_select" resultType="DeptVO">
		select dept_id,
		dept_nm,
		dept_e_nm from Dept
	</select>

	<select id="einfo_select" parameterType="String" resultType="Emp_InfoVO">
		select e.emp_id as emp_id, e.emp_nm as emp_nm, e.dept_id as dept_id,
		d.dept_nm as dept_nm, p.pos_nm as pos_nm
		from emp e inner join dept d
		on e.dept_id = d.dept_id
		inner join pos p
		on
		e.pos_id = p.pos_id
		and
		e.emp_id = #{emp_id}
	</select>

	<insert id="create" parameterType="ApprovalVO" >
		{CALL
		insert_approval(#{app_type_cd}, #{draft_emp_id},
		#{app_emp_id},
		#{draft_dt}, #{app_title}, #{app_context})}
	</insert>

	<select id="read" resultType="ApprovalVO" >
		select a.app_id as app_id, a.draft_dt as draft_dt, at.app_type_nm as
		app_type_nm,
		d.dept_nm as dept_nm, ed.emp_nm as draft_emp_nm ,
		ea.emp_nm as app_emp_nm,
		ap.app_pro_nm as app_pro_nm
		from approval a
		inner join app_type at
		on a.app_type_cd = at.app_type_cd
		and
		a.draft_emp_id = #{emp_id}
		inner join
		app_pro_type ap
		on a.app_pro_cd =
		ap.app_pro_cd
		inner join
		dept d
		on
		a.dept_id = d.dept_id
		inner join emp ed
		on a.draft_emp_id =
		ed.emp_id
		inner join emp ea
		on a.app_emp_id =
		ea.emp_id
		

		order by a.app_id desc
	</select>
	
	<insert id="addAttach">
		insert into approval_attach(FULLNAME, app_id) values (#{fullName}, #{app_id})
	</insert>
	
	<select id="getAttach" resultType="string">
		select fullname from approval_attach where app_id = #{app_id} order by regdate
	</select>
	
	<delete id="deleteAttach">
		delete from approval_attach where app_id = #{app_id}
	</delete>
	
	<insert id="replaceAttach">
		insert into approval_attach(fullname, app_id) values (#{fullName},#{app_id})
	</insert>

</mapper>