<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosta.koggiri.mapper.AttendanceMapper"><!--경로를 뜻하는 것이 아님!!! -->

	<select id="einfo_select" parameterType="String" resultType="Att_Emp_InfoVO">
		select e.emp_id as emp_id, e.emp_nm as emp_nm, e.dept_id as dept_id,
		d.dept_nm as dept_nm, p.pos_nm as pos_nm
		from emp e inner join dept d
		on e.dept_id = d.dept_id
		inner join pos p
		on
		e.pos_id = p.pos_id
		and
		e.emp_id = #{emp_id}
	</select>

	<select id="att_dlist" parameterType="String" resultType="AttendanceVO">
		select
		att_dt, att_time, lea_time from attendance where emp_id = #{emp_id}
		and substr(att_dt,0,6) = to_char(sysdate, 'yyyymm')
	</select>
	
	<select id="att_selectList" resultType="Att_EmpVO">
		select e.emp_id, e.emp_nm, d.dept_nm , p.pos_nm from
		emp e,dept d,pos p
		where e.pos_id = p.pos_id and e.dept_id = d.dept_id
	</select>

	<select id="att_alldlist" resultType="AttendanceVO">
		select e.emp_id as emp_id
		, e.emp_nm as emp_nm
		, d.dept_nm as dept_nm
		, p.pos_nm as pos_nm
		, a.att_time as att_time
		, a.lea_time as lea_time
		from emp e
		left outer join ATTENDANCE a
		on a.emp_id = e.emp_id
		and att_dt = #{att_dd}
		inner join dept d
		on e.dept_id = d.dept_id
		inner join pos p
		on e.pos_id =
		p.pos_id
		where e.emp_id not in ('master')
		order by d.dept_sort, e.pos_id, e.emp_id
	</select>

	<select id="att_workmm" resultType="AttendanceSearchVO">
		select DISTINCT
		substr(att_dt,1,6) as att_mm from attendance order by att_mm desc
	</select>

	<select id="att_mlist" parameterType="AttendanceSearchVO" resultType="AttendanceVO">
	<![CDATA[
		select e.emp_id as emp_id
			 , e.emp_nm as emp_nm
			 , d.dept_nm as dept_nm
			 , p.pos_nm as pos_nm
			 , (select DISTINCT count(emp_id) 
			 	  from ATTENDANCE 
			 	 where substr(att_dt,1,6) =#{att_mm}
			 	   and att_dt <= sysdate group by emp_id) as all_work_day
			 , (select count(att_dt) 
			 	  from ATTENDANCE 
			 	 where EMP_ID = e.emp_id 
			 	   and substr(att_dt,1,6) =#{att_mm}
			 	   and att_dt <= sysdate
			 	   and att_time is not null 
			 	   and lea_time is not null) as att_day
			 , (select count(att_dt) 
			      from ATTENDANCE 
			     where EMP_ID = e.emp_id 
			       and substr(att_dt,1,6) =#{att_mm}
			       and att_dt <= sysdate
			       and att_time is null 
			       and lea_time is null) - 
			   (select count(vat_dt) 
			      from ATT_VAT_DAY
			     where emp_id = e.emp_id 
			       and substr(vat_dt,1,6) =#{att_mm}
			       and vat_dt <= sysdate ) as abs_day
			, (select count(vat_dt) 
			   	 from ATT_VAT_DAY 
			   	where emp_id = e.emp_id 
			   	  and substr(vat_dt,1,6) =#{att_mm}
			   	  and vat_dt <= sysdate ) as vat_day
		from emp e
		left outer join ATTENDANCE a
		on a.emp_id = e.emp_id
		and substr(att_dt,1,6) = #{att_mm}
		and att_dt <= sysdate
		inner join dept d
		on e.dept_id = d.dept_id
		inner join pos p
		on e.pos_id =
		p.pos_id
		where e.emp_id not in ('master')
		group by e.emp_id, e.emp_nm, d.dept_nm, p.pos_nm, d.DEPT_SORT, e.pos_id
		order by d.dept_sort, e.pos_id, e.emp_id 
	]]>
	</select>
	

	
	<select id="emp_vatcation" parameterType="Att_Vat_DtVO" statementType="CALLABLE">
		{CALL
		ATT_VAT(#{emp_id}, #{att_st_dt}, #{att_ed_dt})}
	</select>
	
	

	


</mapper>