<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kosta.koggiri.mapper.CanvasMapper">
	<select id="imageCaptureList" resultType="ImageCaptureVO">
		SELECT * 
		FROM image_capture
		WHERE room_id = #{room_id}
				AND emp_id = #{emp_id}
	</select>
	<insert id="imageCaptureInsert" parameterType="ImageCaptureVO">
		<![CDATA[
		INSERT INTO image_capture(image_capture_no, image_capture_contents, 
									image_capture_explain, emp_id, room_id)
    	VALUES (seq_image_capture.NEXTVAL, #{image_capture_contents}, 
    				#{image_capture_explain,jdbcType=CLOB,javaType=String}, #{emp_id}, #{room_id})
		]]>
	</insert>
	
	<select id="nextImageCaptureNoSelect" resultType="int">
		SELECT NVL(MAX(image_capture_no),0) + 1
		FROM image_capture
	</select>
	
	<delete id="imageCaptureDelete">
		DELETE FROM image_capture
		WHERE image_capture_no = #{image_capture_no}
	</delete>
</mapper>
















