<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosta.koggiri.mapper.ChartMapper">

	<select id="list" parameterType="String" resultType="ChartVO">
	<![CDATA[
		select e.dept_id, e.emp_nm, e.emp_id, e.sex_id, s.sex_nm, p.pos_nm, e.tel_no, e.e_mail, e.join_dt, e.pos_id, d.dept_nm, e.wstate_cd
		from EMP e, POS p, SEX s, DEPT d
		where e.pos_id = p.pos_id and e.sex_id = s.sex_id and e.dept_id = d.dept_id
		and e.dept_id = #{dept_id}
		and e.wstate_cd != 1
		and e.emp_id <> 'master'
		order by d.dept_sort, e.pos_id, e.emp_id
		]]>
	</select>

	<select id="read" parameterType="String" resultType="ChartVO">
		select  e.dept_id as dept_id,
		        e.emp_nm as emp_nm, 
		        e.emp_id as emp_id,
		        e.sex_id as sex_id,
		        s.sex_nm as sex_nm,
		        p.pos_nm as pos_nm, 
		        e.e_mail as e_mail,
		        e.join_dt as join_dt,
		        e.pos_id as pos_id,
		        e.tel_no as tel_no,
		        e.filename as filename,
		        e.addr as addr,
		        d.dept_nm as dept_nm
		from EMP e inner join POS p
	    on  e.pos_id = p.pos_id
	    inner join SEX s
		on e.sex_id = s.sex_id
		inner join DEPT d
		on e.dept_id = d.dept_id
		and e.emp_id = #{emp_id}
		order by  e.pos_id, e.emp_id
	</select>
	
	

</mapper>  