<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kosta.koggiri.mapper.ChatMapper">
	<select id="chaingList" parameterType="int" resultType="ChatingDTO">
	   SELECT h.image_room_his_no, h.image_room_his_contents, h.image_room_his_regdate, h.room_id, h.emp_id,
            e.emp_nm, p.pos_nm, d.dept_nm
      FROM image_room_his h, emp e, pos p, dept d
      WHERE h.emp_id = e.emp_id
            AND e.pos_id = p.pos_id
            AND e.dept_id = d.dept_id
            AND h.room_id = #{room_id}
      ORDER BY image_room_his_regdate
	</select>

	<select id="imageRoomHisList" parameterType="int" resultType="imageRoomHisVO">
		SELECT * 
		FROM image_room_his
		WHERE room_id = #{room_id}
	</select>
	<insert id="imageRoomHisInsert" parameterType="imageRoomHisVO">
		INSERT INTO image_room_his(image_room_his_no, image_room_his_contents, 
									room_id, emp_id,image_room_his_regdate)
		VALUES (#{image_room_his_no}, #{image_room_his_contents}, #{room_id}, #{emp_id},#{image_room_his_regdate})
	</insert>
	<select id="nextImageRoomHisNoSelect" resultType="int">
		SELECT NVL(MAX(image_room_his_no),0) + 1
		FROM image_room_his
	</select>
	<delete id="imageRoomHisDelete" parameterType="int">
		DELETE FROM image_room_his
		WHERE room_id = #{room_id}
	</delete>
</mapper>
















