<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosta.koggiri.mapper.Doc_BoardMapper">

	<insert id="create" parameterType="Doc_BoardVO">
		insert into
		documentboard(f_id, f_title, f_content, f_emp_id, f_date, f_hit)
		values(doc_seq.nextval, #{f_title}, #{f_content},
		#{f_emp_id}, sysdate,
		0)
	</insert>

	<select id="read" resultType="Doc_BoardVO">
		select
		f_id, f_title, f_content,
		f_emp_id, f_date, f_hit
		from
		documentboard
		where f_id = #{f_id}
	</select>

	<update id="update" parameterType="Doc_BoardVO">
		update documentboard set
		f_title =#{f_title}, f_content =#{f_content}
		where f_id = #{f_id}
	</update>

	<delete id="delete">
		delete from documentboard where f_id = #{f_id}
	</delete>


	<select id="listCriteria" resultType="Doc_BoardVO">
    <![CDATA[
    select 
      f_id, f_title, f_content, f_emp_id, f_date, f_hit
    from 
      documentboard
    where f_id > 0 
    order by f_id desc, f_date desc   
    ]]>
	</select>

	<select id="countPaging" resultType="int">
 	<![CDATA[
 	select 
   		count(f_id)
 	from 
   		documentboard
	 where 
   		f_id > 0 
 ]]>
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and f_title like '%'|| #{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				and f_content like '%'|| #{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				and f_emp_id like '%'|| #{keyword}||'%'


			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="Doc_BoardVO" parameterType="Doc_SearchCriteria">
   <![CDATA[  
     select 
   				d.f_id, d.f_title, d.f_content, d.f_emp_id, d.f_date, d.f_hit, e.emp_nm as f_emp_nm
 			from 
  				documentboard d, emp e
			 where f_id > 0 and d.f_emp_id = e.emp_id  
   ]]>

		<include refid="search"></include>
     
   <![CDATA[    
     order by f_id desc     
   ]]>
	</select>


	<select id="listSearchCount" resultType="int" parameterType="Doc_SearchCriteria">
   <![CDATA[  
     select count(f_id) 
     from documentboard 
     where f_id > 0 
   ]]>
		<include refid="search"></include>
	</select>

	<update id="updateViewCnt">
		update documentboard set f_hit = f_hit + 1 
			where f_id = #{f_id}
	</update>



</mapper>  