<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosta.koggiri.mapper.Doc_BoardMapper">

	<insert id="create" parameterType="Doc_BoardVO">
		insert into
		documentboard(f_id, f_title, f_content, f_emp_id, f_date, f_hit)
		values(doc_seq.nextval, #{f_title}, #{f_content},
		#{f_emp_id}, sysdate,
		0)
	</insert>

	<select id="read" resultType="Doc_BoardVO">
		select
		f_id, f_title, f_content,
		f_emp_id, f_date, f_hit
		from
		documentboard
		where f_id = #{f_id}
	</select>

	<update id="update" parameterType="Doc_BoardVO">
		update documentboard set
		f_title =#{f_title}, f_content =#{f_content}
		where f_id = #{f_id}
	</update>

	<delete id="delete">
		delete from documentboard where f_id = #{f_id}
	</delete>

	<select id="listAll" resultType="Doc_BoardVO">
 		<![CDATA[
			 select 
			   f_id, f_title, f_content, f_emp_id, f_date, f_hit
			 from 
			 	documentboard			   
			 where f_id > 0
		]]>  	 
			 
			 
		<![CDATA[	  
			 order by f_id desc, f_date desc
 		]]>
	</select>

	<select id="listPage" resultType="Doc_BoardVO">
  		<![CDATA[
 			select 
   				f_id, f_title, f_content, f_emp_id, f_date, f_hit 
 			from 
  				documentboard
			 where f_id > 0 
 				order by f_id desc, f_date desc
 			
 		]]>
	</select>

	<select id="listCriteria" resultType="Doc_BoardVO">
    <![CDATA[
    select 
      f_id, f_title, f_content, f_emp_id, f_date, f_hit
    from 
      documentboard
    where f_id > 0 
    order by f_id desc, f_date desc   
    ]]>
	</select>

	<select id="countPaging" resultType="int">
 	<![CDATA[
 	select 
   		count(f_id)
 	from 
   		documentboard
	 where 
   		f_id > 0 
 ]]>
	</select>




</mapper>  