<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosta.koggiri.mapper.JobisMapper"><!--경로를 뜻하는 것이 아님!!! -->

	<select id="all_emplist" resultType="Jobis_EmpVO">
	<![CDATA[
	  select e.emp_id as emp_id, e.emp_nm as emp_nm, e.pos_id as pos_id, p.pos_nm as pos_nm, d.dept_id as dept_id, d.dept_nm as dept_nm 
		from  emp e, dept d, pos p
	   where e.dept_id = d.dept_id 
		 and e.pos_id = p.pos_id 
		 and e.wstate_cd <> '1'
		 and e.expire_dt is null	 
		 ]]>
	</select>

	<!-- 고병휘 추가 -->
	<select id="all_attendlist" resultType="Jobis_EmpVO">

		select e.emp_id,
		e.emp_nm, a.att_dt, a.att_time
		from attendance a, emp e
		where a.emp_id =
		e.emp_id
		and a.att_time IS NOT NULL
		and a.att_dt =
		to_char(sysdate,'yyyymmdd')

	</select>

	<select id="all_approvalcheck" resultType="Jobis_EmpVO">
		select a.app_id,
		e.emp_nm, a.input_sysdt, a.app_title
		from emp e, approval a
		where
		e.emp_id = a.app_emp_id
		and a.app_pro_cd = 0
	</select>

	<select id="every_emp" parameterType="String" resultType="Jobis_EmpVO">
	<![CDATA[
		select e.emp_id as emp_id,
		e.emp_nm as emp_nm, e.pos_id as pos_id, p.pos_nm
		as pos_nm, d.dept_id
		as dept_id, d.dept_nm as dept_nm, a.att_time as
		att_time, a.lea_time as
		lea_time
		from emp e inner join dept d
		on e.dept_id = d.dept_id    
		and e.wstate_cd <> '1'
		and e.expire_dt is null
		and e.emp_id = #{emp_id}
        inner join pos p
		on e.pos_id = p.pos_id
        left outer join attendance a
		on e.emp_id = a.emp_id
		and a.att_dt = to_char(sysdate, 'yyyymmdd')
 	]]>
	</select>
</mapper>