<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="koggiri.login.mapper.MemberMapper">
	<cache />
	
	<select id="login" resultType="MemberVO">
		select mem_id,mem_pw, dept_id from member m inner join emp e
		on m.mem_id = e.emp_id
		where 
		mem_id= #{mem_id} and mem_pw=#{mem_pw}
	</select>
	
	
	<select id="get_emp_nm" parameterType="MemberVO" resultType="String">
		select emp_nm from emp where
		emp_id = #{mem_id}
		
	</select>
	
	<update id="mem_update" parameterType="MemberVO">
		update emp set e_mail = #{e_mail}, tel_no= #{tel_no}, addr = #{addr}
		where emp_id = #{mem_id} 
	</update>
	
	<update id="mem_pass" parameterType="MemberVO">
		update member set mem_pw=#{mem_pw} where mem_id = #{mem_id}
	</update>
	
	<select id="detail_mem" resultType="MemberVO">
		select e_mail,tel_no,addr from emp where emp_id = #{mem_id}
	</select>
</mapper>















