<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="koggiri.notice.mappers.Noti_BoardMapper">

 	<insert id="create" parameterType="Noti_BoardVO">
 		
 		insert into NOTICEBOARD (N_ID, N_TITLE, N_CONTENT, N_EMP_ID, N_DATE) 
 		values(nboard.nextval, #{N_TITLE}, #{N_CONTENT},#{N_EMP_ID} , sysdate)
 	</insert>
 	
 	
  	<select id="read" resultType="Noti_BoardVO">		
		select N_ID, N_TITLE, N_CONTENT, N_EMP_ID, N_DATE, N_HIT 
		from NOTICEBOARD where N_ID = #{N_ID}
	 </select>
			
			 
	<update id="update" parameterType="Noti_BoardVO">
		update NOTICEBOARD set N_TITLE = #{N_TITLE}, N_CONTENT =#{N_CONTENT} where N_ID = #{N_ID}
	</update>

	<delete id="delete">
		delete from NOTICEBOARD where N_ID = #{N_ID}
	</delete>
	
	
	<select id="listAll" resultType="Noti_BoardVO">
	<![CDATA[
	select N_ID, N_TITLE, N_CONTENT, N_EMP_ID, N_DATE, N_HIT from NOTICEBOARD
	where N_ID > 0 
	order by N_ID desc, N_DATE desc
	]]>
	</select>
	
	<select id="listPage" resultType="Noti_BoardVO">
	<![CDATA[
	select N_ID, N_TITLE, N_CONTENT, N_EMP_ID, N_DATE, N_HIT from (select * from NOTICEBOARD ) 
	where rownum >= 0 and rownum <= 10 
	and N_ID > 0 
	order by N_ID desc, N_DATE desc
	]]>
	</select>
	
	<select id="listCriteria" resultType="Noti_BoardVO">
	<![CDATA[
	select N_ID, N_TITLE, N_CONTENT, N_EMP_ID, N_DATE, N_HIT from NOTICEBOARD
	where N_ID > 0 
	order by N_ID desc, N_DATE desc
	]]>
	</select>

	<select id="countPaging" resultType="int">
	<![CDATA[
	select count(N_ID) from NOTICEBOARD where N_ID > 0
		]]>
		</select>
		
		
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and N_TITLE like '%'|| #{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				and N_CONTENT like '%'|| #{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				and N_EMP_ID like '%'|| #{keyword}||'%'


			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="Noti_BoardVO">
   <![CDATA[  
    select N_ID, N_TITLE, N_CONTENT, N_EMP_ID, N_DATE, N_HIT from NOTICEBOARD
	where N_ID > 0
   ]]>

		<include refid="search"></include>
     
   <![CDATA[    
     order by N_ID desc 
   ]]>
	</select>


	<select id="listSearchCount" resultType="int">
   <![CDATA[  
     select count(N_ID) 
     from NOTICEBOARD 
     where N_ID > 0 
   ]]>
	<include refid="search"></include>
	</select>

	<update id="updateViewCnt">
		update NOTICEBOARD set N_HIT = N_HIT + 1 
			where N_ID = #{N_ID}
	</update>
	
	<insert id="addAttach" parameterType="Noti_FileVO">
      insert into NOTICEBOARD_AttACH(FULLNAME, N_ID) values (#{FULLNAME}, NOTI_SEQ.currval)
   </insert>
   
   <select id="getAttach" resultType="string">
		select FULLNAME from NOTICEBOARD_AttACH where N_ID = #{N_ID} order by N_DATE
	</select>
	
	<!--  <include refid="search"></include>
	</select> -->
	
<!-- 	<update id="updateReplyCnt">
		update tbl_board set replycnt = replycnt + #{amount}
			where bno = #{bno}
	</update>
	
	<select id="getBno" resultType="int">
		select bno from tbl_reply where rno = #{rno}
	</select>
	
	<update id="updateViewCnt">
		update tbl_board set viewcnt = viewcnt + 1 
			where bno = #{bno}
	</update>
	
 	<insert id="addAttach" parameterType="FileVO">
		insert into tbl_attach(fullname, bno) 
			values(#{fullName}, #{bno})
	</insert>
	
	<select id="maxNum" resultType="int">
		select MAX(bno) from tbl_board
	</select>
	
	<select id="getAttach" resultType="string">
		select fullname from tbl_attach where bno = #{bno} order by regdate
	</select>  -->
 </mapper>   
  












