<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosta.koggiri.mapper.SnsMapper">
	
	<!-- master와 자신을 제외한 사원이름, 부서, 직급 출력  -->
	
	<select id="listAll" parameterType="String" resultType="SnsVO">
		select e.emp_id as emp_id
		      , e.emp_nm as emp_nm
		      , d.dept_nm as dept_nm
		      , p.pos_nm as pos_nm
	      from emp e      
	      inner join dept d
	      on e.dept_id = d.dept_id
	      inner join pos p
	      on e.pos_id =
	      p.pos_id
	      where e.emp_id not in ('master', #{emp_id})
	      order by d.dept_sort, e.pos_id, e.emp_id
	  
	</select>
	
	<!-- 채팅방 생성 : 프로시저가 count가 0일경우 상대방 대화가 저장되는 공간과
	내 대화 저장되는 공간의 대화방 최초생성-->
	
	<select id="create_room" parameterType="RoomVO" statementType="CALLABLE">
		{CALL CREATE_ROOM(#{emp_id}, #{n_emp_id})}
	</select>
	
    <!-- 대화내역저장 -->
	
	<insert id="create_chat_context" parameterType="RoomVO">
		insert into chat_list (room_id, emp_id, input_text, input_date) values (#{room_id}, #{emp_id}, #{input_text}, sysdate)
	</insert>
	
	<!-- 채팅방 개수 조회 -->
	
	<select id="chat_room_count" parameterType="RoomVO" resultType="Int">
		select count(c1.room_id) as room_count
		  from chatroom_list c1, chatroom_list c2
		 where c1.emp_id = #{emp_id}
		   and c2.emp_id = #{n_emp_id}
		   and c1.room_id = c2.room_id
	</select>
	
	<!-- 채팅방 개수 조회 -->
	
	<select id="chat_room_id" parameterType="RoomVO" resultType="Int">
		select c1.room_id as room_id
		  from chatroom_list c1, chatroom_list c2
		 where c1.emp_id = #{emp_id}
		   and c2.emp_id = #{n_emp_id}
		   and c1.room_id = c2.room_id
	</select>
	
	<!-- 채팅 내역 저장된 것을 조회 -->
	
	<select id="chat" resultType="RoomVO">
		select c.room_id as room_id
		     , c.emp_id as emp_id
		     , e.emp_nm as emp_nm
		     , c.input_text as input_text
		     , c.input_date as input_date
		  from chat_list c
		  inner join emp e
		    on c.emp_id = e.emp_id
		   and c.room_id = #{room_id}
	</select>


</mapper>